<div class="mx-auto">
    <a class="text-5xl font-LOGO text-azure-radiance-600 hover:text-green-menta-400 transition duration-500"
       href="/">
      D8-<strong class="bg-gradient-to-r from-azure-radiance-600 to-green-menta-400 text-transparent bg-clip-text leading-normal hover:bg-gradient-to-r hover:from-green-menta-600 hover:to-azure-radiance-500 transition duration-1000">MARKETING
      </strong>
    </a>
  </div>