---
import House from "../../icons/house.astro";
import Cohete from "../../icons/cohete.astro";
import Contacto from "../../icons/Contacto.astro";
---

<nav class="mt-10">
  <ul class="flex justify-center gap-8 animate-rotate-x">
    <li
      class="shadow-inner rounded-full p-3 border-double border-2 border-green-menta-500/50 hover:border-azure-radiance-600"
    >
      <a
        class="text-green-menta-400 fill-current hover:text-azure-radiance-600"
        href="#"><House /></a>
    </li>
    <li
      class="shadow-inner rounded-full p-3 border-double border-2  border-green-menta-500/50 hover:border-azure-radiance-600"
    >
      <a
        class="text-green-menta-400 fill-current hover:text-azure-radiance-600"
        href="#"><Cohete /></a>
    </li>
    <li
      class="shadow-inner rounded-full p-3 boborder-double border-2 border-green-menta-500/50 hover:border-azure-radiance-600"
    >
      <a
        class="text-green-menta-400 fill-current hover:text-azure-radiance-600"
        href="#"><Contacto /></a>
    </li>
  </ul>
</nav>
